.work-experience-container {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.work-experience-card {
	/* background: var(--color-bg-light); */
	border-radius: 20px;
	padding: 30px 30px 0 0;
}

.work-experience-header {
	display: flex;
	flex-direction: column;
	/* align-items: center; */
	text-align: start;
}


.work-experience-description > li {
	font-weight: 200;
	font-size: 14px;
	margin-left: 30px;
	list-style-type: disc;
	padding-top: 10px;
}

.work-experience-description > li::before {
	color: var(--color-primary);
	font-size: 25px;
	display: inline-block;
	margin-left: -1em;
	width: 1em;
}

/* ================ MEDIA QUERIES ================ */
@media screen and (max-width: 900px) {
	.work-experience-container {
		grid-template-columns: 1fr;
		/* border: 1px solid red; */
		
	}

	
}
