* {
	padding: 0;
	box-sizing: border-box;
	margin: 0;
	outline: 0;
	list-style: none;
	text-decoration: none;
}

body {
	font-family: "Poppins", sans-serif;
	background: var(--color-bg);
	color: #fff;
	line-height: 1.7;
}

:root {
	--color-bg: #0a0f1e;
	--color-bg-light: #141c25;
	--color-primary: #34ace0;
	--color-secondary: rgba(255, 255, 255, 0.6);
	--color-text-color: rgba(255, 255, 255, 0.8);

	/* HOVER COLOUR */
	--color-primary-hover: #227093;

	/* FOR SCREEN SIZE */
	--container-width-lg: 75%;
	--container-width-md: 86%;
	--container-width-sm: 90%;

	--transition: all 500ms ease;
}

html {
	scroll-behavior: smooth;
}

/* ==================== GENERAL STYLES ==================== */
.container {
	width: var(--container-width-lg);
	margin: 20px auto;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

h1,
h2,
h3,
h4,
h5 {
	font-weight: 600;
}

h1 {
	font-size: 35px;
}
h5 {
	font-weight: 500;
}

.section-header > h2,
.section-header > h5 {
	text-align: center;
	color: var(--color-secondary);
	font-weight: 400;
}

.section-header > h2 {
	color: var(--color-primary);
	font-weight: 600;
}

a {
	color: var(--color-primary);
	transition: var(--transition);
}

img {
	display: block;
	width: 100%;
	object-fit: cover;
}
.text-color-secondary {
	color: var(--color-secondary);
}

.text-color-primary {
	color: var(--color-primary);
}

.text-color-white {
	color: var(--color-white);
}

.text-weight-light {
	font-weight: 300;
}

.text-weight-regular {
	font-weight: 400;
}

.btn-outline {
	width: max-content;
	background: transparent;
	border: 1px solid var(--color-primary);
	border-radius: 10px;
	padding: 15px;
	color: var(--color-primary);
	font-weight: 600;
	cursor: pointer;
	transition: var(--transition);
	font-family: "Poppins", sans-serif;
}

.btn-filled {
	width: max-content;
	background: var(--color-primary);
	border: none;
	border-radius: 10px;
	padding: 15px;
	color: var(--color-bg);
	font-weight: 600;
	cursor: pointer;
	transition: all 400ms ease;
	font-family: "Poppins", sans-serif;
}

.btn:hover {
	background-color: var(--color-primary-hover);
	color: var(--color-bg);
}

/* ================ MEDIA QUERIES ================ */
@media screen and (min-width: 1024px) {
	.container {
		width: var(--container-width-lg);
	}
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
	.container {
		width: var(--container-width-md);
	}
}

@media screen and (max-width: 767px) {
	.container {
		width: var(--container-width-sm);
	}
}
